# Laravel directories
/vendor
/node_modules
/storage/*.key
/public/storage
/public/build
/public/hot
/public/feedbacks

# Environment files
.env
.env.backup
.env.production

# Laravel cache
/.phpunit.cache
.phpunit.result.cache

# Composer & PHP related
auth.json
.phpactor.json

# Log files
npm-debug.log
yarn-error.log

# IDEs and Editors
/.idea
/.vscode
/.zed
/.fleet

# Homestead
Homestead.json
Homestead.yaml

# Apache config
/.htaccess